/* Sign up Layout Styles */

.container {
  width: 100vw;
  height: 100vh;
  background-color: #F0F2F9;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}

.cardContainer{
background-color: #fff;
width: 90vw;
height: 90vh;
border-radius: 40px;
}

/* Sign up Page Styles */
.signupContainer{
  display: flex;
  justify-content: space-between;

}



.signupContainer--left{
  width:40%;
  display: flex;
  margin-left: 4rem;
  margin-right: 1rem;
  flex-direction: column;
}

.signupContainer--left--bottom{
  background-image: url("../../image//signup/leftSection.png");
  height:65vh;
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

.signupContainer--right{
  width:60%;
  height:89vh;
  background-color: #F0F2F9;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px; 
  padding:2rem;
   display: flex;
  flex-direction: column; 
  /* justify-content: center; */
  /* align-items: center; */
}

.socialsContainer{
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* 
Sign In Page Styles */

.signinContainer{
  display: flex;
  justify-content: space-between;
}

.signinContainer--left{
  width:60%;
  background-color: #F0F2F9;
  height:91vh;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px; 
  padding-left: 2rem;
  padding-right: 1rem;


}

.signinContainer--right{
  width:40%;
  margin-top: 4rem;
  height:80vh;
  background-image: url("../../image/signup/rightSection.png");

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.signinContainer--left--bottom{
  display: flex;
  flex-direction: column;
  margin-top: -2rem;
  margin-left: 2rem;
  width:40vw;
}

.CheckboxContainer{
  display: flex;
  justify-content: space-between;
}