.bannerWrapper {
  display: flex;
  flex-direction: row;
}
.right-banner-content {
  width: 50%;
  /* height: 40vh;
  position: relative; */
  border-radius: 20px;
  background: linear-gradient(270deg, #542a68 0%, #b16293 100%);
}

.right-banner-content img {
  width: fit-content;
}
.left-banner-content {
  width: 50%;
}
