.info-root-container  .MuiButton-contained {
    background-color: #341950 !important;
    font-weight: 800 !important;
  }
  
  .info-root-container  .MuiInputBase-input{
    font-weight: 800 !important;
  }