.info-root-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info-root-container .MuiInputLabel-root {
  margin-bottom: 4px !important;
}

.info-root-container  .MuiButton-contained {
  background-color: #341950 !important;
  font-weight: 800 !important;
}

.info-root-container  .MuiInputBase-input{
  font-weight: 800 !important;
}